@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
	margin: 0;
}
body {
	background: -webkit-repeating-linear-gradient(
		top,
		black 0px,
		black 1px,
		rgba(0, 0, 0, 1) 1px,
		rgba(77, 77, 77, 0.1) 8px
	);
	background-color: black;
}

* {
	pointer-events: none;
	user-select: none;
}
