@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #2980b9;
  background: linear-gradient(215deg, #633b01 29.9%, #000000 80%),
    linear-gradient(304deg, rgba(2, 1, 0, 0.8) 24.9%, #350b14 91%),
    linear-gradient(10deg, #3d5300 19.9%, #5f5900 50%),
    linear-gradient(145deg, #5a5100 15.9%, #464e00 40%);
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
  background: #ffa500;
}
