@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "JetBrains Mono", sans-serif;
  background-image: radial-gradient(#0f0f0f, #000000);
}
#root {
  height: 100vh;
}

.adventpro {
  font-family: "Advent Pro", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #0f0f0f inset;
}
.hover-underline {
  display: inline-block;
  position: relative;
}
.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f2e100;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline:focus:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tesla_div:hover .tesla_title{
  opacity: 100;
}